<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <script type="text/javascript">
    /* Remove token from URL. */
    (function () {
      var parsedUrl = new URL(window.location.href);
      if (parsedUrl.searchParams.get('token')) {
        parsedUrl.searchParams.delete('token');
        window.history.replaceState({ }, '', parsedUrl.href);
      }
    })();
  </script>
  <script src="{{static_url('bundle.js')}}" type="text/javascript" charset="utf-8"></script>
</head>
<body class="clarity-container" id={{path}}>
</body>