.clarity-container {
  margin: 0px auto;
  padding: 0px 24px;
  max-width: 960px; 
}

.clarity-toolbar {
  height: 80px;
  min-width: 20px;
}

.clarity-toolbar-item {
  height: 20px;
  width:20px;
}

.spacer {
  width:30px;
  height:100%;
}