.clarity-container {
  height:100vh;
  margin: 0px auto;
  padding: 0px 24px;
  max-width: 960px; 
}

.clarity-toolbar {
  top:20px;
  left:15px;
  height: 90px;
  width: 30px;
  border-radius:8px;
}

.clarity-toolbar-item {
  min-height: 26px;
  min-width:30px;
}

.clarity-header {
  min-height:80px;
  background-color:white;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.kernel-2 {
  position: absolute;
  right: 17px;
  top: 10px;
}

.clarity-runall {
  right:10px;
  top: 10px;
  max-width:100px;
  min-height:22px;
  color: var(--jp-brand-color1);
}

.clarity-kernel {
  min-height:15px;
  max-width:15px;
  min-width: 15px;
  background-size:15px;
  position: absolute;
  right: 3px;
  top: 15px;
}

.my-header {
  font-size: 1.6em;
  font-weight: 600;
  left: 10px;
  top: 5px;
  position: absolute;
}

.clarity-icon{
  right:3px;
  top:3px;
  background-position:top right;
}

.notebook-super-container {
  position: relative;
  height: 100vh;
  box-shadow: var(--jp-elevation-z4);
}

.notebook-padding {
  padding:55px;
}

.jp-Notebook.jp-mod-scrollPastEnd::after {
    display: block;
    content: '';
    min-height: 55px;
}